name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install other libraries
        run: sudo apt -y install libclang-dev llvm-dev libmetis-dev
      - name: Build
        run: cargo build --release
      - name: Run tests
        env:
          RUST_BACKTRACE: 1
        run: cargo test --release --verbose --features http -- --test-threads=1
